.lista-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
  }
  
  @media (max-width: 768px) {
    .lista-cards {
      flex-direction: column;
      align-items: center;
    }
  }